*{
box-sizing:border-box;
}


body{

margin:0;
overflow:hidden;
background:black;
font-family:Arial;

}


video{

position:absolute;
width:100vw;
height:100vh;
object-fit:cover;
transform:scaleX(-1);

}



/* HUD */

#hud{

position:absolute;

top:20px;
left:20px;

color:#00ffff;

font-size:18px;

letter-spacing:2px;

text-shadow:
0 0 20px cyan;

}



/* Scanner */

#scanner{

position:absolute;

width:300px;
height:300px;

border-radius:50%;

border:2px solid cyan;

display:none;

box-shadow:
0 0 50px cyan,
inset 0 0 40px cyan;

animation:rotate 4s linear infinite;

}



@keyframes rotate{

100%{

transform:rotate(360deg);

}

}




/* Glove */

#glove{

position:absolute;

width:230px;
height:330px;

display:none;

filter:
drop-shadow(0 0 25px red);

animation:assemble .5s;

}



@keyframes assemble{

0%{

opacity:0;

transform:
scale(.2)
rotate(90deg);

}


100%{

opacity:1;

}

}




.handplate{

position:absolute;

top:100px;
left:35px;

width:160px;
height:170px;


background:

linear-gradient(
135deg,
#2b0000,
red,
#ffcc00
);


border-radius:
50% 50% 40% 40%;


box-shadow:

inset 0 0 30px black,
0 0 40px red;

}




.finger{

position:absolute;

width:32px;
height:115px;

top:0;

background:

linear-gradient(
red,
#330000
);


border-radius:25px;


box-shadow:
0 0 20px red;

}


.f1{left:30px;}
.f2{left:70px;}
.f3{left:110px;}
.f4{left:150px;}




#reactor{

position:absolute;

width:70px;
height:70px;

left:45px;
top:50px;

border-radius:50%;


background:

radial-gradient(
white,
cyan,
#0055ff
);


box-shadow:

0 0 40px cyan,
0 0 100px blue;


animation:reactor 1s infinite;

}



@keyframes reactor{

50%{

transform:scale(1.15);

}

}




.line{

position:absolute;

width:100%;
height:3px;

background:cyan;

animation:scan 2s infinite;

}



@keyframes scan{

50%{

top:160px;

}

}



/* Blast */


#blast{

position:absolute;

height:70px;

width:0;

display:none;


background:

linear-gradient(
90deg,
cyan,
white,
transparent
);


border-radius:50px;


box-shadow:

0 0 80px cyan,
0 0 200px blue;

}
/* MODE DISPLAY */

#mode{

position:absolute;
bottom:30px;
left:30px;

color:cyan;

font-size:25px;

text-shadow:
0 0 20px cyan;

}



/* TARGET LOCK */

#target{

position:absolute;

width:200px;
height:200px;

border-radius:50%;

border:
3px dashed red;

display:none;


box-shadow:

0 0 40px red,
inset 0 0 30px red;


animation:
targetSpin 2s linear infinite;

}


@keyframes targetSpin{

100%{

transform:
rotate(360deg);

}

}



/* Nano particles */


.nano{

position:absolute;

width:8px;
height:8px;

border-radius:50%;

background:red;


box-shadow:
0 0 20px red;


animation:nanoMove .7s forwards;

}


@keyframes nanoMove{

0%{

transform:
translate(
random,
random
);

}


100%{

transform:
translate(0,0);

opacity:0;

}

}


/* hologram */

.holo{

filter:

drop-shadow(0 0 30px cyan)
hue-rotate(150deg);

}
