body{
margin:0;
background:black;
overflow:hidden;
}


video{
position:absolute;
width:100vw;
height:100vh;
object-fit:cover;
transform:scaleX(-1);
}


#repulsor{

position:absolute;

width:120px;
height:120px;

border-radius:50%;

display:none;

background:
radial-gradient(
white,
cyan,
blue,
transparent
);

box-shadow:

0 0 20px white,
0 0 60px cyan,
0 0 120px blue;


animation:pulse .5s infinite;

}


.core{

width:100%;
height:100%;

border-radius:50%;

border:5px solid cyan;

animation:spin 1s linear infinite;

}



@keyframes pulse{

50%{

transform:scale(1.4);

}

}


@keyframes spin{

100%{

transform:rotate(360deg);

}

}
#beam{

position:absolute;

height:40px;
width:0px;

background:linear-gradient(
90deg,
cyan,
white,
cyan
);

border-radius:50px;

box-shadow:
0 0 30px cyan,
0 0 80px blue,
0 0 150px white;

display:none;

animation:fire .2s infinite;

}


@keyframes fire{

50%{

height:80px;

}

}


.shock{

position:absolute;

width:200px;
height:200px;

border-radius:50%;

border:5px solid cyan;

animation:shockwave .5s;

}


@keyframes shockwave{

100%{

transform:scale(5);
opacity:0;

}

}
