*{
box-sizing:border-box;
}

body{
margin:0;
overflow:hidden;
background:black;
font-family:Arial;
}


video{

position:absolute;

width:100vw;
height:100vh;

object-fit:cover;

transform:scaleX(-1);

}


/* HUD */


#hud{

position:absolute;

top:20px;
left:20px;

padding:15px;

border:1px solid cyan;

border-radius:20px;


background:

rgba(0,255,255,.08);


color:cyan;


box-shadow:

0 0 30px cyan;


text-shadow:

0 0 15px cyan;


z-index:5;

}


.title{

font-size:25px;

}





/* scanner */


#scanner{

position:absolute;

width:280px;
height:280px;

border-radius:50%;

border:3px dashed cyan;

display:none;


box-shadow:

0 0 50px cyan;


animation:

spin 5s linear infinite;

}



@keyframes spin{

100%{

transform:rotate(360deg);

}

}





/* glove */


#glove{

position:absolute;

width:250px;

height:350px;


display:none;


transition:.05s linear;


filter:

drop-shadow(0 0 25px red);

}




/* fingers */


.finger{

position:absolute;

width:35px;

height:130px;


top:10px;


border-radius:25px;


background:

linear-gradient(

90deg,

#400,

red,

gold

);


box-shadow:

0 0 20px red;


transform-origin:

bottom center;


transition:

.08s linear;

}



#thumb{

left:5px;

top:100px;

transform:

rotate(-45deg);

}


#index{

left:55px;

}


#middle{

left:100px;

height:145px;

}


#ring{

left:145px;

}


#pinky{

left:190px;

height:115px;

}




/* palm */


#palm{

position:absolute;


left:45px;

top:150px;


width:160px;

height:150px;


border-radius:

40%;


background:

linear-gradient(

135deg,

#300,

red,

orange,

gold

);


box-shadow:

0 0 40px red,

inset 0 0 40px black;

}




/* reactor */


#reactor{

position:absolute;

left:45px;

top:40px;


width:70px;

height:70px;


border-radius:50%;


background:

radial-gradient(

white,

cyan,

blue

);



box-shadow:

0 0 50px cyan,

0 0 120px blue;


animation:pulse 1s infinite;

}



@keyframes pulse{

50%{

transform:scale(1.2);

}

}





/* weapons */


#blast{

position:absolute;

display:none;


height:80px;


border-radius:50px;


background:

linear-gradient(

90deg,

cyan,

white,

transparent

);


box-shadow:

0 0 150px cyan;

}




#laser{

position:absolute;

display:none;


height:15px;


background:red;


box-shadow:

0 0 70px red;

}




#shield{

position:absolute;

display:none;


width:260px;

height:260px;


border-radius:50%;


border:

8px solid cyan;


box-shadow:

0 0 80px cyan,

inset 0 0 50px cyan;


animation:pulse 1s infinite;

}
